dataset/__pycache__/*
loss/__pycache__/*
*.log
*.pyc
*.ipynb
eval/IMM/*
train/IMM/*
tmp
warnings
test/demo/*
__pycache__/*
model/__pycache__/
model/__pycache__/*
model/__pycache__/*.pyc
pretrainedModels/*
